*/

html{
    font-size: 5.5%;
}
body{
    font: 1.6rem sans-serif; 
    margin: 0;
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}

:root{
    --color-default: rgb(0,0,0);
    --color-header-text: #fff;
    --color-primary: #5298c6;
    --color-alert: #c0392b;
    --color-success: #068a22;
    --color-warning: rgba(253, 203, 110,1.0);
}

header{
    background-color: var(--color-default);
    line-height: 6.0rem;
}
header > h1{
    color: var(--color-header-text);
    text-align: center;
}
main, footer{
    max-width: 90.0rem;
    border: solid .1rem transparent;
    padding: 1.0rem;
    margin: 5.0rem auto 1.0rem;
    box-shadow: 0 0 3.0rem rgb(161, 159, 159);
}
figure > img{
    display: block;
    width: 100%;
    margin: .1rem 0;
}

section h2, section figure figcaption h3{
    background-color: var(--color-primary);
    color: var(--color-header-text);
    line-height: 4.5rem;
    padding: .5rem;
    font-size: x-large;
}
section p, section ul, section ol{
    line-height: 2.6rem;
}

section h2::before, section figure figcaption h3:before{
    content:'\2714';
    margin-right: .3rem;
}
main section + section h2{ 
    background-color: var(--color-alert);
}
main section:last-child h2{ 
    background-color: rgb(11, 31, 216);
    color: #222;
}
main section:nth-child(2) h2{
    background-color: var(--color-success);
}
main section:nth-of-type(3) h2{
    background-color: var(--color-warning);
    color: #222;
}